# Лабораторная работа №1. Предварительный анализ данных

## Цель работы

Осуществить предварительную обработку данных csv-файла, выявить и устранить проблемы в этих данных.

Вариант 11

## Ход выполнения работы

Для начала работы подключается библиотека `pandas`, которая дает возможность работы с данными. Файл с данными был импортирован в среду `Google Colab`. Приступая к работе с библиотекой, выводится первые 20 строк данных с помощью команды `read_csv` и параметра `head()`, выведенные данные имеют разделитель запятую, поэтому параметр `sep` можно не прописывать.

In [ ]:
import pandas as pd
df = pd.read_csv('/content/auto.csv')
df.head(20)

,Name,year,SellingPrice,kmdriven,fuel,seller_Type,transmission,owner
0,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000.0,125000.0,Petrol,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000.0,25000.0,Petrol,Individual,Manual,First Owner
7,Tata Indigo Grand Petroll,2014,240000.0,60000.0,Petrol,Individual,Manual,Second Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000.0,25000.0,Petroll,Individual,Manual,First Owner
9,Maruti Celerio Green VXI,2017,365000.0,78000.0,CNG,Individual,Manual,First Owner
10,Chevrolet Sail 1.2 Base,2015,260000.0,35000.0,Petrol,Individual,Manual,First Owner
11,Tata Indigo Grand Petrol,2014,250000.0,100000.0,Petrol,Individual,Manual,First Owner
12,Toyota Corolla Altis 1.8 VL CVT,2018,1650000.0,25000.0,Petrol,Dealer,Automatic,First Owner
13,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
14,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
15,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
16,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
17,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner
18,Maruti Alto LX BSIII,2007,140000.0,125000.0,Petrol,Individual,Manual,First Owner
19,Hyundai Xcent 1.2 Kappa S,2016,550000.0,25000.0,Petrol,Individual,Manual,First Owner

По данной таблице можно сделать вывод, что предметная область — это поддержанные авто. Представленные в таблице столбцы выглядят следующим образом:

1. имя
2. год
3. цена продажи
4. пройдено км
5. топливо
6. тип продавца
7. коробка передач
8. тип владельца

С помощью команды `df.info()` оцениваются данные.

В таблице 4344 записи, 2 столбца не заполнены полностью, для каждого столбца указан тип данных, а также указан объем используемой памяти. Так в столбце year используется int для указания года машины, в столбцах SellingPrice и kmdriven float64 для указания цены на машину и пройденных километров, а оставшиеся 5 столбцов используют тип данных object.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          4344 non-null   object
 1   year          4344 non-null   int64
 2   SellingPrice  4342 non-null   float64
 3   kmdriven      4343 non-null   float64
 4   fuel          4343 non-null   object
 5   seller_Type   4344 non-null   object
 6   transmission  4344 non-null   object
 7   owner         4344 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.6+ KB

Далее используется команда `describe`, которая возвращает основные статистические показатели, состоящие из среднего значения, стандартного отклонения, минимального и максимального значений.

In [ ]:
df.describe()

              year  SellingPrice       kmdriven
count  4344.000000  4.342000e+03    4343.000000
mean   2013.092311  5.039987e+05   66193.063320
std       4.214543  5.784465e+05   46636.648764
min    1992.000000  2.000000e+04       1.000000
25%    2011.000000  2.100000e+05   35000.000000
50%    2014.000000  3.500000e+05   60000.000000
75%    2016.000000  6.000000e+05   90000.000000
max    2020.000000  8.900000e+06  806599.000000

Выводятся названия столбцов с помощью `columns`.

In [ ]:
df.columns

Index(['Name', 'year', 'SellingPrice', 'kmdriven', 'fuel', 'seller_Type',
       'transmission', 'owner'],
      dtype='object')

Столбцы необходимо привести к одному виду, каждый должен начинаться с большой буквы, без пробелов или подчеркиваний. Поэтому у столбцов year, kmdriven, fuel, seller_Type, transmission, owner меняются названия с помощью команды `df.rename`.

In [ ]:
df = df.rename(columns={
    'year':'Year',
    'sellingprice':'SellingPrice',
    'kmdriven':'KmDriven',
    'fuel':'Fuel',
    'seller_Type':'SellerType',
    'transmission':'Transmission',
    'owner':'Owner'
})

df.columns

Index(['Name', 'Year', 'SellingPrice', 'KmDriven', 'Fuel', 'SellerType',
       'Transmission', 'Owner'],
      dtype='object')

Делается подсчет кол-ва пропусков в каждом столбце. Видно что пропуски есть в столбцах SellingPrice, KmDriven, Fuel.

In [ ]:
df.isna().sum()

Name            0
Year            0
SellingPrice    2
KmDriven        1
Fuel            1
SellerType      0
Transmission    0
Owner           0
dtype: int64

Решено оставить все строки, где имеются пропуски кроме SellingPrice и заменить пропуски в KmDriven на 0 (у машины может быть нулевой пробег), в Fuel на 'Other' (автомобиль может работать на альтернативном топливе) В конце проведена проверка на пропуски

In [ ]:
df = df.dropna(subset=[ 'SellingPrice'])
df['KmDriven'] = df['KmDriven'].fillna(0)
df['Fuel'] = df['Fuel'].fillna('Other')
df.isna().sum()

Name            0
Year            0
SellingPrice    0
KmDriven        0
Fuel            0
SellerType      0
Transmission    0
Owner           0
dtype: int64

Производится проверка на наличие явных дубликатов и выводится их количество.

In [ ]:
print(df.duplicated().sum())

763

Дублирующиеся строки удаляются и проводится проверка правильности удаления.

Чтобы не было пропусков производится обновление индексации, устанавливается аргумент `drop = True`, чтобы не создавался столбец `Index`.

Данные выводятся для проверки.

In [ ]:
df = df.drop_duplicates()
print(df.duplicated().sum())

df = df.reset_index(drop=True)

df

0

,Name,Year,SellingPrice,KmDriven,Fuel,SellerType,Transmission,Owner
0,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
3574,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999.0,80000.0,Diesel,Individual,Manual,Second Owner
3575,Hyundai i20 Magna 1.4 CRDi,2014,409999.0,80000.0,Diesel,Individual,Manual,Second Owner
3576,Maruti 800 AC BSIII,2009,110000.0,83000.0,Petrol,Individual,Manual,Second Owner
3577,Hyundai Creta 1.6 CRDi SX Option,2016,865000.0,90000.0,Diesel,Individual,Manual,First Owner
3578,Renault KWID RXT,2016,225000.0,40000.0,Petrol,Individual,Manual,First Owner

Теперь проводится проверка данных на наличие неявных дубликатов, для этого используем метод `unique()` для столбцов Fuel, SellerType, Transmission, Owner, которые имеют категориальные переменные.

In [ ]:
print(df['Fuel'].unique())
print(df['SellerType'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Petrol' 'Diesel' 'Petroll' 'CNG' 'LPG' 'Electric']
['Individual' 'Dealer' 'Dealeer' 'Trustmark Dealer']
['Manual' 'Automatic']
['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']

Можно наблюдать повторяющиеся элементы в двух столбцах из четырех. Это исправляется путем задания им одинаковых имен. Код сразу проверяется на правильность.

In [ ]:
df['Fuel'] = df['Fuel'].replace('Petroll','Petrol')
df['SellerType'] = df['SellerType'].replace('Dealeer','Dealer')

print(df['Fuel'].unique())
print(df['SellerType'].unique())

['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']
['Individual' 'Dealer' 'Trustmark Dealer']

Вывод информации о датасете.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3579 entries, 0 to 3578
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          3579 non-null   object
 1   Year          3579 non-null   int64
 2   SellingPrice  3579 non-null   float64
 3   KmDriven      3579 non-null   float64
 4   Fuel          3579 non-null   object
 5   SellerType    3579 non-null   object
 6   Transmission  3579 non-null   object
 7   Owner         3579 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 223.8+ KB

Далее производится группировка и создание сводных таблиц в соответствии с вариантом №11.

**Задание 1:** Группировка - тип владельца (owner) по количеству разных коробок передач (transmission)

In [ ]:
df.groupby(['Owner', 'Transmission']).size()

Owner                 Transmission
First Owner           Automatic        227
                      Manual          1992
Fourth & Above Owner  Automatic          2
                      Manual            73
Second Owner          Automatic         64
                      Manual           915
Test Drive Car        Automatic          1
                      Manual            16
Third Owner           Automatic         18
                      Manual           271
dtype: int64

По результатам группировки можно сделать вывод, что на вторичном рынке автомобилей преобладают машины с механической коробкой передач, что косвенно может нам сказать, что люди не могут позволить себе машины на автомате, так как комплектации с этой коробкой передач всегда отличаются в цене в высшую сторону.

Также можно увидеть, что машин с одним или двумя владельцами значительно больше остальных.

**Задание 2:** Группировка - тип владельца (owner) по количеству разных коробок передач (transmission).
Создать датафрейм. Переименовать столбец с количеством в “сount”. Отсортировать по убыванию
столбца “count”.

In [ ]:
df_grouped = df.groupby(['Owner', 'Transmission']).size().reset_index(name='count')
df_sorted = df_grouped.sort_values(by='count', ascending=False)
display(df_sorted)

                  Owner Transmission  count
1           First Owner       Manual   1992
5          Second Owner       Manual    915
9           Third Owner       Manual    271
0           First Owner    Automatic    227
3  Fourth & Above Owner       Manual     73
4          Second Owner    Automatic     64
8           Third Owner    Automatic     18
7        Test Drive Car       Manual     16
2  Fourth & Above Owner    Automatic      2
6        Test Drive Car    Automatic      1

Эта группировка ничего кардинально не меняет, просто сортировка позволяет более наглядно увидеть, что на рынке доминируют автомобили с механической коробкой передач.

**Задание 3:** Сводная таблица (pivot_table) - среднее количество пройденных километров для каждого
типа года year. Отсортировать по убыванию. Округлить до двух знаков.

In [ ]:
df.pivot_table(index=['Year'],
               values='KmDriven',
               aggfunc='mean').sort_values(by='KmDriven', ascending=False)['KmDriven'].round(2)

Year
2006    102916.10
1992    100000.00
1995    100000.00
2009     96822.59
2010     93851.62
2007     92119.63
2004     91407.34
2011     90983.64
1997     90000.00
2008     88914.12
2005     87897.74
2001     86743.62
2012     86123.29
2003     82792.77
2002     82555.56
2013     76548.66
2014     76406.01
2000     70936.92
1998     70000.00
1999     67446.67
2015     64279.83
2016     57607.74
1996     47500.00
2017     43072.49
2018     28524.72
2019     19772.75
2020     10961.87
Name: KmDriven, dtype: float64

По таблице можно сделать вывод, что чем старше автомобиль, тем больше у него средний пробег, однако внизу таблицы мы можем увидеть 1996 или 1999 год, у этих машин средний пробег меньше чем например у машин 2013 или 2014 года. Довольно занятный случай.

**Задание 4:** Сводная таблица (pivot_table) - среднее количество пройденных километров для каждого года - строки и типа владельца - owner - столбцы. Отсортировать по возрастанию year. Округлить до
двух знаков.

In [ ]:
df.pivot_table(index=['Year'],
               columns='Owner',
               values='KmDriven',
               aggfunc='mean').sort_values(by='Year', ascending=True).round(2)

Owner,First Owner,Fourth & Above Owner,Second Owner,Test Drive Car,Third Owner
Year,,,,,
1992,NaN,100000.00,NaN,NaN,NaN
1995,NaN,NaN,100000.00,NaN,NaN
1996,60000.00,NaN,35000.00,NaN,NaN
1997,70000.00,NaN,80000.00,NaN,120000.00
1998,NaN,60000.00,76000.00,NaN,65000.00
1999,70000.00,80000.00,65404.00,NaN,50000.00
2000,77500.00,74250.00,77500.00,NaN,41371.50
2001,106500.00,97000.00,95107.80,NaN,64893.17
2002,76000.00,80000.00,87200.00,NaN,86000.00
2003,55683.00,66666.67,98849.36,NaN,100000.00
2004,79765.00,112750.00,91819.53,NaN,95971.38
2005,79471.11,96322.50,79573.69,NaN,119250.00
2006,95359.96,131848.80,94371.49,NaN,120940.91
2007,86642.75,121555.56,87837.78,NaN,101705.88
2008,79704.80,92500.00,86452.80,NaN,108434.48
2009,97589.32,100000.00,94676.42,NaN,98945.19
2010,78574.27,113000.00,98071.17,NaN,114209.68
2011,81739.28,113175.00,96894.24,NaN,99437.50
2012,82938.14,104333.33,86577.36,NaN,98896.40
2013,73645.42,85000.00,81519.06,NaN,82250.00
2014,68922.05,113000.00,85446.54,NaN,108166.67
2015,61263.24,120000.00,69200.24,NaN,82500.00
2016,56888.35,NaN,59843.57,NaN,71600.00
2017,43108.69,50000.00,42005.85,24585.00,57000.00
2018,28434.67,NaN,30289.65,13000.00,38900.00
2019,19363.53,NaN,40400.00,7855.33,15000.00
2020,15084.38,1100.00,NaN,790.33,NaN

Данная сводная таблица позволяет посмотреть средний пробег машин каждого года, еще и со знанием количества владельца, где `NaN` значит в такой год машин с пробегом нет. В основном чем больше количество владельцев, тем больше пробег у машины, но бывают и исключения. Также можно понять, что машины выдающиеся на тест драйв не старше 2017 года.

## Вывод

В ходе выполнения данной лабораторной работы была проведена предварительная обработка данных кредитных заявок, выявлены и устранены ключевые проблемы в данных, такие как некорректные значения в столбцах, пропуски и неявные дубликаты. Применение методов анализа позволило очистить данные и структурировать их для последующего анализа.

Были выполнены различные группировки и построены сводные таблицы, что помогло выявить основные закономерности. Например, на вторичном рынке автомобилей преобладают автомобили с механической коробкой передач, что косвенно может значить о меньшей доступности автомобилей с автоматической КПП. Количество машин с одним или двумя владельцами значительно больше остальных. Также был сделан вывод, что чем старше автомобиль, тем больше у него средний пробег, однако внизу таблицы мы можем увидеть 1996 или 1999 год, у этих машин средний пробег меньше чем например у машин 2013 или 2014 года. Прослеживается взаимосвязь, что чем больше количество владельцев, тем больше пробег у машины. А также, машины выдающиеся на тест драйв не старше 2017 года.

Выполнение работы полностью основано на методическом пособии, поэтому проблем при выполнении не возникло.

## Дополнительное задание

### Задание 1

Сделать категоризацию столбца price, добавить минимум 3 категории.

In [ ]:
price_labels = ['Low', 'Medium', 'High', 'SuperHigh']
df['PriceCategory'] = pd.cut(df['SellingPrice'], bins= [0, 200000, 500000, 1000000, df['SellingPrice'].max()], labels=price_labels)

print(df[['SellingPrice', 'PriceCategory']].head(25))

    SellingPrice PriceCategory
0        60000.0           Low
1       135000.0           Low
2       600000.0          High
3       250000.0        Medium
4       450000.0        Medium
5       140000.0           Low
6       550000.0          High
7       240000.0        Medium
8       850000.0          High
9       365000.0        Medium
10      260000.0        Medium
11      250000.0        Medium
12     1650000.0     SuperHigh
13      240000.0        Medium
14      850000.0          High
15      585000.0          High
16     1195000.0     SuperHigh
17      390000.0        Medium
18     1964999.0     SuperHigh
19     1425000.0     SuperHigh
20      975000.0          High
21     1190000.0     SuperHigh
22      930000.0          High
23      525000.0          High
24     1735000.0     SuperHigh

Был создан новый столбец `PriceCategory`, в котором реализована категоризация цен на автомобили `SellingPrice`. Всего создано 4 категории, где `Low` - от 0 до 200000, `Medium` - от 200000 до 500000, `High` - от 500000 до 1000000, `SuperHigh` - цены от 1000000 и выше.

### Задание 2

По каждой категории из пункта 1 продемонстрировать средний, минимальный, максимальный пробег

In [ ]:
mileage_stats = df.groupby('PriceCategory', observed=True)['KmDriven'].agg(['mean', 'min', 'max'])

print(mileage_stats)

                       mean     min       max
PriceCategory
Low            84374.840000  2020.0  300000.0
Medium         70944.938776     1.0  806599.0
High           56164.202475   101.0  560000.0
SuperHigh      48992.426829  1000.0  250000.0

Чем выше класс автомобиля, его цена, тем ниже его средний пробег. Показатели минимального и максимального пробега не так однозначны, здесь не прослеживаются какие-либо взаимосвязи. Так, можно подметить, что максимальный и минимальный пробег имеют автомобили из категории `Medium`.